<!DOCTYPE html>
<html>
  <head>
    <title>Movie Booking System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movie Booking System</h1>
    <p>Welcome to the Api</p>
  </body>
</html>
